worker.list=loadbalancer,status

#Define template worker
worker.template.port=8009
worker.template.type=ajp13
worker.template.lbfactor=1
worker.template.ping_mode=A
worker.template.socket_timeout=60
worker.template.socket_connect_timeout=300
# Not necessary to specify connection_pool_timeout with worker mpm 
# worker.template.connection_pool_timeout=600
#
# Referencing the template worker properties makes the workers.properties
# shorter and more concise.

{% for host in groups['appservers'] %}

worker.n{{loop.index}}.reference=worker.template
worker.n{{loop.index}}.host= {{ iface }}
{% endfor %}
#
#worker.node2.reference=worker.template
#worker.node2.host=192.168.1.3
#
  worker.loadbalancer.type=lb
  worker.loadbalancer.balance_workers=n1
 #worker.loadbalancer.sticky_session=True
#  #
worker.status.type=status
